<section class="flex items-center justify-center py-10 px-4">
    <div class="max-w-[70%] mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center bg-blue-50 rounded-lg">
        <!-- Image Section -->
        <div>
            <img src="{{ asset('img/brooke-lark.jpg') }}" alt="Cheesecake" class="rounded-l-lg">
        </div>

        <!-- Text Section -->
        <div class="text-gray-800 space-y-4">

            <!-- Main Title -->
            <h1 class="text-4xl font-bold text-gray-900 font-serif leading-tight">
                Mighty Super Cheesecake
            </h1>

            <!-- Description Text -->
            <p class="text-gray-600">
                Look no further for a creamy and ultra smooth classic cheesecake recipe! No one can deny its simple decadence.
            </p>
        </div>
    </div>
</section>
